body{
    background-color: lightskyblue;
}

.diary_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.diary_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    background-color: white;
}
.form-control{
    border-radius: 20px;
    background-color: white;
    width: 100%;
    height: 100%;
    resize: none;
}
.diary_button{
    margin-top: 10px;
    
}