.today_weather{
    width:100%;
    padding:5%;
    background:#fff;
    border-radius: 30px;
    text-align: center;
    margin-bottom:5%;
}
.weekly_weather{
    width:100%;
    padding:5%;
    background:#fff;
    border-radius: 30px;
    text-align: center;
}
.today_address{
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 600;
}
.today_cont{
    font-size: 1.1em;
    line-height: 1.5;
}
.today_temperature{
    font-size: 4.2em;
    line-height: 1.2;
    margin: 5px 0;
    font-weight: 700;
}
.today_addTemperature,
.today_addTemperature span{
    font-size: 1em;
    line-height: 1.5;
}
.min{
    color:#2a74f8;
}
.max{
    color:#dc0100;
}
.today_weather ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 15px;
}

.weekly_forecast_area{

}
.weekly_forecast_area .title{
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 20px;
}
.weekly_forecast_area .week_list{
    
}

