body {
   margin: 0;
   padding: 0;
   background-color: #f7f7f7;
}
/* 헤더 */
header .container .row .col-auto {
   margin-top: 0.5em;
}

header .container .row .col-auto:nth-child(2) {
   font-size: 2.5rem;
   font-weight: bold;
}

header .container .row .col-auto a i {
   font-size: 1.8rem;
   padding-top: 1.1em;
   padding-right: 0.5em;
   color: #aaaeb3;
}

/* 메인 */
main .container > .row {
   padding: 1.5em 0 3em 0;
}

main .container .row .col-4 {
   min-height: 80vh;
   min-width: 50vh;
   margin: 0 auto;
}

main .container .row .col-4 .card {
   height: 100%;
   border-radius: 1em;
   background-color: white;
}

main .container .row .col-4 .card .card-header {
   display: flex;
   font-size: 1.3em;
   font-weight: bold;
   border-bottom: none;
   padding: 1em;
}

main .container .row .col-4 .card .card-header i {
   padding-right: 1em;
   padding-top: 0.25em;
}

main .container .row .col-4 .card img {
   width: 50%;
   height: 50%;
   margin: 0 auto;
   padding: 5em 0 3em 0;
}

main .container .row .col-4 .card-body .card-text:nth-child(1) {
   font-size: 1.1rem;
   color: #566573;
   text-align: center;
}

main .container .row .col-4 .card-body .card-text:nth-child(2) {
   font-size: 3.3rem;
   font-weight: bolder;
   color: #d35400;
   text-align: center;
   padding: 0.1em 0 0.5em 0;
}

main .container .row .col-4 .card-body .list-group li span:nth-child(1) {
   font-size: 1rem;
   color: #566573;
}

main .container .row .col-4 .card-body .list-group li span:nth-child(2) {
   font-size: 1.5rem;
   font-weight: bold;
   color: #566573;
   padding: 1em 0;
   padding-left: 2em;
}

main .container .row .col-8 {
   min-height: 80vh;
   margin: 0 auto;
}

main .container .row .col-8 h2 {
   font-size: 1.8rem;
   color: #454545;
   font-weight: bold;
   padding: 0.5em 0;
}

main .container .row .col-8 h2 i {
   padding-right: 0.3em;
}

main .container .row .col-8 .row {
   min-height: 20vh;
}

main .container .row .col-8 .row .col-2 {
   min-height: 33vh;
   min-width: 5em;
   margin: 0 auto;
}

main .container .row .col-8 .row .col-2 .card > p {
   color: #999999;
   text-align: center;
}

main .container .row .col-8 .row .col-2 .card {
   padding: 0.1em 0.3em;
}

main .container .row .col-8 .row .col-2 .card img {
   width: 80%;
   margin: 0 auto;
}

main .container .row .col-8 .row .col-2 .card .card-body {
   display: flex;
   justify-content: space-between;
}

main .container .row .col-8 .row .col-2 .card .card-body h5 {
   color: #dc7633;
   font-weight: bold;
}

main .container .row .col-8 #highlight_dayAndNight .col .card .col-md-8 {
   text-align: center;
}

main .container .row .col-8 #highlight_dayAndNight .col .card .col-md-8 .card-body {
   color: #566573;
}

main .container .row .col-8 #highlight_dayAndNight .col .card .col-md-8 .card-body img {
   width: 28%;
   padding-bottom: 0.3em;
}

main .container .row .col-8 #highlight_dayAndNight .col .card .col-md-8 .card-body h5 {
   font-size: 1.3rem;
   padding-bottom: 0.5em;
}

main .container .row .col-8 #highlight_dayAndNight .col .card .col-md-8 .card-body p {
   line-height: 0;
}

main .container .row .col-8 #highlight_etc .col .card .col-md-8 {
   text-align: center;
}

main .container .row .col-8 #highlight_etc .col .card .col-md-8 .card-body img {
   width: 28%;
   padding-bottom: 0.3em;
}
