body {
   margin: 0;
   padding: 0;
   color: #222;
   background-color: #f7f7f7;
}

.card {
   border: none;
   overflow: hidden;
   border-radius: 30px !important;
}

/* 헤더 */

header .container .row .col-auto {
   margin-top: 0.5em;
}

header .container .row .col-auto:nth-child(2) {
   font-size: 2.5rem;
   font-weight: bold;
}

header .container .row .col-auto a i {
   font-size: 1.8rem;
   padding-top: 1.1em;
   padding-right: 0.5em;
   color: #aaaeb3;
}

/* 메인 */
main .container {
   max-width: 1200px;
   margin: 0 auto;
}

main .container > .row {
   padding: 1.5em 0 3em 0;
}

main .container .row .col-4 {
   min-height: 80vh;
   min-width: 40vh;
   margin: 0 auto;
}

main .container .row .col-4 .card {
   height: 100%;
   border-radius: 1em;
   background-color: white;
}

main .container .row .col-4 .card .card-header {
   display: flex;
   font-size: 1.1rem;
   font-weight: 600;
   border-bottom: none;
   padding: 1em;
   align-items: center;
}

main .container .row .col-4 .card .card-header i {
   padding-right: 1em;
}

main .container .row .col-4 .card #current_rotation {
   width: 10%;
   background-color: #fce696;
   border: none;
   float: right !important;
}

main .container .row .col-4 .card #current_rotation i {
   font-size: 1.2rem;
   padding: 0.2em 0;
}

main .container .row .col-4 .card img {
   width: 50%;
   height: 50%;
   margin: 0 auto;
   padding: 5em 0 3em 0;
}

main .container .row .col-4 .card-body .card-text:nth-child(1) {
   font-size: 1.1rem;
   text-align: center;
}

main .container .row .col-4 .card-body .card-text:nth-child(2) {
   font-size: 3.3rem;
   font-weight: bolder;
   color: #dc0100;
   text-align: center;
   padding: 0.5em 0 0.7em 0;
}

main .container .row .col-4 .card-body .list-group li span:nth-child(1) {
   font-size: 1rem;
   color: #566573;
}

main .container .row .col-4 .card-body .list-group li span:nth-child(2) {
   font-size: 1rem;
   padding: 1em 0;
   padding-left: 2em;
   font-weight: 600;
}

main .container .row .col-8 {
   min-height: 80vh;
   margin: 0 auto;
}

main .container .row .col-8 h2 {
   font-size: 1.1rem;
   font-weight: 600;
   padding: 1em 0;
}

main .container .row .col-8 h2 i {
   padding-right: 0.3em;
}
#hourly_list {
   margin-bottom: 40px;
}
main .container .row .col-8 .row .col-2 {
   margin: 0 auto 0;
}

main .container .row .col-8 .row .col-2 .card > p {
   color: #999999;
   text-align: center;
   padding-top: 2em;
   font-size: 0.7rem;
}

main .container .row .col-8 .row .col-2 .card img {
   width: 40%;
   max-height: 50%;
   margin: 0 auto;
   padding-top: 1em;
   padding-bottom: 0.5em;
}

main .container .row .col-8 .row .col-2 .card .card-body {
   display: flex;
   justify-content: center;
   padding: 1rem 0.5rem;
   gap: 5px;
}

main .container .row .col-8 .row .col-2 .card .card-body h5 {
   font-size: 1rem;
   color: #dc0100;
   font-weight: bold;
}

main .container .row .col-8 .row .col-2 .card .card-body p {
   font-size: 0.8rem;
   padding-top: 0.2em;
}

main .container .row .col-8 #highlight_dayAndNight .col .card .col-md-8 {
   text-align: center;
}

main
   .container
   .row
   .col-8
   #highlight_dayAndNight
   .col
   .card
   .col-md-8
   .card-body
   img {
   width: 28%;
   padding-bottom: 0.3em;
}

main
   .container
   .row
   .col-8
   #highlight_dayAndNight
   .col
   .card
   .col-md-8
   .card-body
   h5 {
   font-size: 1rem;
   padding-bottom: 0.5em;
   font-weight: 600;
}

main
   .container
   .row
   .col-8
   #highlight_dayAndNight
   .col
   .card
   .col-md-8
   .card-body
   p {
   line-height: 1.5em;
   font-size: 0.8rem;
}

main .container .row .col-8 #highlight_etc .col .card .col-md-8 {
   text-align: center;
}

main .container .row .col-8 #highlight_etc .col .card .col-md-8 .card-body {
   min-height: 25vh;
}

main .container .row .col-8 #highlight_etc .col .card .col-md-8 .card-body img {
   width: 28%;
   padding-bottom: 0.3em;
}

main .container .row .col-8 #highlight_etc .col .card .col-md-8 .card-body h5 {
   font-size: 1rem;
   padding-bottom: 0.5em;
   font-weight: 600;
}

main .container .row .col-8 #highlight_etc .col .card .col-md-8 .card-body p {
   line-height: 1.5em;
   font-size: 0.8rem;
}
@media screen and (max-width: 63rem) {
   main .container .row .col-4,
   main .container .row .col-8 {
      width: 100% !important;
   }
   main .container .row .col-4 .card img {
      width: 20%;
      height: 20%;
      margin: 0 auto;
      padding: 2em 0;
   }
}
@media screen and (max-width: 600px) {
   main .container .row .col-8 .row .col-2 {
      width: 32%;
   }
   main .container .row .col-8 .row > * {
      padding-bottom: calc(var(--bs-gutter-x) * 0.5);
   }
}
